<p class="d">亲爱的用户 <%= @to_user.email %>: 您好！</p>
<p>感谢注册维衣尺码助手，你只需要点击下面链接，激活帐户，便可以享受尺码助手各项服务。</p>
<p><a href="<%=@url%>" target="_blank"><%=@url%></a></p>
<p><span>（如无法直接打开链接，请将链接直接复制到您使用的浏览器窗口地址栏内使用）</span></p>
<p class="c"><b>[维衣用户服务中心]</b></p>