<div class="tongzhi" style="font-size:12px">
  <div class="jdsh">基于你的尺寸，尺码助手建议你购买各类型衣服时参照如下尺寸购买。</div>
  <div class="jdsh red18">提示：这些都是成品尺寸。仅供参考，如不适合请及时反馈</div>
</div>
<div class="rq">
  <div class="kind">种类</div>
  <div class="kind2">最佳/尺寸型号</div>
</div>
<div class="rq" style="padding-top:8px">
  <div id="tabbox">
    <h3>男士上衣</h3>
    <ul class="tabs" id="tabs">
      <li><a href="javascript:;" tab="tab1" onclick="Chima.Step.loadXifu();">西服</a></li>
      <li><a href="javascript:;" tab="tab2" onclick="Chima.Step.loadDressShirt();">正装衬衫</a></li>
      <li><a href="javascript:;" tab="tab3" onclick="Chima.Step.loadCasualShirt();">休闲衬衫</a></li>
      <li><a href="javascript:;" tab="tab4" onclick="Chima.Step.loadTshirt();">T恤</a></li>
      <li><a href="javascript:;" tab="tab5" onclick="Chima.Step.loadPolo();">POLO衫</a></li>
      <li><a href="javascript:;" tab="tab6" onclick="Chima.Step.loadCoat();">羽绒服</a></li>
      <li><a href="javascript:;" tab="tab7" onclick="Chima.Step.loadJack();">夹克</a></li>
      <li><a href="javascript:;" tab="tab8" onclick="Chima.Step.loadWaitao();">外套</a></li>
      <li><a href="javascript:;" tab="tab9" onclick="Chima.Step.loadOvercoat();">大衣</a></li>
      <li><a href="javascript:;" tab="tab10" onclick="Chima.Step.loadSweater();">毛衣、针织衫、卫衣</a></li>
      <li><a href="javascript:;" tab="tab11" onclick="Chima.Step.loadDustcoat();">风衣</a></li>
      <li><a href="javascript:;" tab="tab12" onclick="Chima.Step.loadSuncoat();">中山装</a></li>
      <li><a href="javascript:;" tab="tab13" onclick="Chima.Step.loadStandcoat();">立领</a></li>
      <li><a href="javascript:;" tab="tab13" onclick="Chima.Step.loadTangcoat();">唐装</a></li>
    </ul>
    <h3>男士下衣</h3>
    <ul class="tabs" id="tabs">
      <li><a href="javascript:;" tab="tab14" onclick="Chima.Step.loadXiku();">西裤</a></li>
      <!-- <li><a href="#" tab="tab15">男士衬衫</a></li>
      <li><a href="#" tab="tab16">休闲衬衫</a></li> -->
    </ul>
  </div>
  <div id="right_top"></div>


</div>
<p>&nbsp;</p>
<div class="rq ycan"><span>你可以：</span><a href="/home/mysize"><img src="/assets/ycan_03.png" width="135" height="37" border="0" /></a>
  <a href="/home/similar"><img src="/assets/ycan_05.gif" width="190" height="37" border="0" /></a></div>
<p>&nbsp;</p>
