<ul class="inline-block unstyled">
  <li><%= link_to '添加新市', new_admin_bs_city_path, :class=> 'btn' %></li>
  <li><%#= link_to '添加新区', new_admin_bs_city_path, :class=> 'btn' %></li>
  <li><%#= link_to '添加圈子', new_admin_bs_area_path, :class=> 'btn' %></li>
</ul>